.error
{
	color:red;
	font-size: 15px;
}
.display
{
	background-image: url(image/wood.jpg);
}

.welcome_user
{
	font-family: "Times New Roman", Times, serif;
	font-size: 3em;
	font-weight: bold;
}

#admin_button
{
	color: #E4EFF2;
}